@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

body {
  background-color: #343a40;
  display: flex;
  color: white;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
}
h1 {
  margin-left: 45px;
  font-size: 58px;
  font-family: "Codystar";
}
article {
  padding: 0 50px;
}
.question {
  width: 655px;
}
.progress {
  margin-bottom: 15px;
}
progress {
  -webkit-appearance: none;
  margin-top: 15px;
  width: 100%;
  height: 15px;
}
::-webkit-progress-bar {
  background-color: #ced4da;
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: #1098ad;
  border-radius: 100px;
}
.progress-detail {
  display: flex;
  justify-content: space-between;
}
.question-text {
  text-align: start;
  font-size: 28px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option {
  display: flex;
  justify-content: start;
  color: white;
  font-family: inherit;
  font-size: 20px;
  background-color: #495057;
  border: 2px solid #495057;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.option[disabled]:hover {
  cursor: not-allowed;
}
.option:not([disabled]):hover {
  background-color: #343a40;
  transform: translateX(1.2rem);
}
.answer {
  transform: translateX(1.2rem);
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}
.selected {
  border: 2px solid white;
}
.time-panel {
  position: relative;
}
.time-value {
  position: absolute;
  top: 10px;
  right: 50%;
  background-color: #343a40;
  border: 2px solid #495057;
  border-radius: 25px;
  padding: 10px 25px;
  transform: translate(50%, 0);
}
.loader-div {
  display: flex;
  justify-content: center;
}
.loader {
  justify-content: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  background-color: #495057;
  padding: 25px;
  border-radius: 25px;
}

.btn-start {
  background-color: #495057;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  margin-top: 10px;
}
.btn-start:hover {
  transform: scale(1.1);
}
.time-panel {
  display: flex;
}
.btn-next {
  background-color: #343a40;
  border: 2px solid #495057;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  position: absolute;
  top: 10px;
  right: 0;
}
.btn-next:hover {
  transform: scale(1.1);
}
.btn-prev {
  background-color: #343a40;
  border: 2px solid #495057;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  position: absolute;
  top: 10px;
  left: 0;
}
.btn-next:hover {
  transform: scale(1.1);
}
.final {
  background-color: #1098ad;
  padding: 20px 0;
  font-size: 24px;
  border-radius: 30px;
}

.btn-restart {
  background-color: #343a40;
  border: 2px solid #495057;
  border-radius: 25px;
  padding: 10px 25px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
/* .date-counter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.range {
  display: flex;
  justify-content: center;
  gap: 10px;
} */
